
<html>

<body>
        <table>
          <% for(var i=0; i < y.length; i++) { %>
             <tr>
             <td><%= y[i].id %></td>
             <td><%= y[i].name %></td>
             <td><%= y[i]._id %></td>
             <td><%= y[i].parent_category_id %></td>
             </tr>
          <% } %>
          </table>
            </div>
        </div>

    </div>

<%- include("../Views/template/footer")-%>
</body>


</html>
