<html>
  <head>
    
    <link rel=stylesheet type=text/css href=../css/bootstrap.min.css.css>
    <link rel=stylesheet type=text/css href=../stylesheets/navbar.style.css>
  <%- include('../Views/template/header.ejs')-%>
  </head>
<body>

  <div class="row" style="align-content: center;">
        <table>
          <% for(var i=0; i < y.length; i++) { %>
             <tr>


             </tr>
             <section class=product>
            <img src=" /images/<%=y[i].image%>">
           
              <h3><%=y[i].name%></h3>
              
              <h4><%-y[i].page_title%></h4>
              <p><%-y[i].page_description%></p>
            
              <li class="nav-item">
                <a id=<%= y[i].id %>  class="nav-link" href="/categories/<%= y[i].id %>">         <%= y[i].name %></a>
                </li>
            
          </section>


             </div>
          <% } %>
          </table>
      </div>
  
        </div>

    </div>

<%- include("../Views/template/footer")-%>
</body>


</html>