<html>
  <head>

    <link rel=stylesheet type=text/css href=../css/bootstrap.min.css.css>
    <link rel=stylesheet type=text/css href=../stylesheets/navbar.style.css>
  <%- include('../Views/template/header.ejs')-%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% for(var i=0; i < y.length; i++) { %>

          <div class="col-lg-12 col-md-12" >
            <div class="card promoting-card" style=" margin-top: 40px;" style=" margin-left: 40px;"  style="margin-bottom: 40px;"  class="card-body d-flex flex-row">

              <div class="view overlay">      
                <img src=" /images/<%=y[i].image%>">
              </div>

              <h3><%=y[i].name%></h3>
              <h4><%-y[i].page_title%></h4>
              <p><%-y[i].page_description%></p>
              <li class="nav-item">
                <a id=<%= y[i].id %>  class="nav-link" href="/categories/<%= y[i].id %>">         <%= y[i].name %></a>
              </li>
            </div>
          </div>
        <% } %>

      </div>
    </div>
    <footer >
      <%- include("../Views/template/footer")-%>
   </footer>
  </body>
 
</html>