<html>    
  <head>
    
    <link rel=stylesheet type=text/css href=../css/bootstrap.min.css.css>
    <link rel=stylesheet type=text/css href=../stylesheets/navbar.style.css>
<%- include('../Views/template/header.ejs')-%>
</head>
<div class="container">
  <div class="row">
    <% for(var i=0; i < 15; i++) { %>
      <div class="col-lg-6 col-md-6 mb-4">
      <li class="nav-item">
        <a class="nav-link" href=     "/products/<%= x[i].primary_category_id %>/<%= x[i].id %>"    >
       
          <img src=" /images/<%=x[i].image_groups[0].images[0].link%>">
        </a>
        </li>
              <h3><%=x[i].name%></h3>
              <li><%-x[i].short_description%></li>
              <span>
                  <p>Price: <%=x[i].currency%> <%=x[0].price%></p>

                  <span class='buy-now' style="font-size:16px" ><a>Buy now</a></span>
                  <a > | </a>
                  <span class='add-cart' style="font-size:16px"><a>Add to Cart</a></span>
                  <a > | </a>
                  <span class='add-wishlist' style="font-size:16px"><a>Wishlist</a></span>
                  
                  <p></p>
              </span>
            </div>
  <% } %>

  </div>
</div>
   





<script>
    window.onload = function() {
        document.getElementById('Home').classList.add('active');
      };
</script>


<footer >
  <%- include("../Views/template/footer")-%>
</footer>
</html>