<html>    
  <head> 
    <link rel=stylesheet type=text/css href=../css/bootstrap.min.css.css>
    <link rel=stylesheet type=text/css href=../stylesheets/navbar.style.css>
<%- include('../Views/template/header.ejs')-%>
</head>

    <% for(var i=0; i < 15; i++) { %>
      
  <div class="col-xs-7 col-md-4">
       <div class="col-xs-4">
        <li class="nav-item">
          <a id=<%= x[i].id %> class="nav-link" href=     "/products/<%= x[i].primary_category_id %>/<%= x[i].id %>"><%= x[i].name %></a>
          </li>
            <img src=" /images/<%=x[i].image_groups[0].images[0].link%>">
          
                <h3><%=x[i].name%></h3>
                <li><%-x[i].short_description%></li>
                <span>
                    <p>Price: <%=x[i].currency%> <%=x[0].price%></p>

                    <span class='buy-now' style="font-size:16px" ><a>Buy now</a></span>
                    <a > | </a>
                    <span class='add-cart' style="font-size:16px"><a>Add to Cart</a></span>
                    <a > | </a>
                    <span class='add-wishlist' style="font-size:16px"><a>Wishlist</a></span>
                    
                    <p></p>
                </span>
              </div>
              </div>
    <% } %>

<script>
    window.onload = function() {
        document.getElementById('Home').classList.add('active');
      };
</script>
<footer >
  <%- include("../Views/template/footer")-%>
</footer>
</html>