<html>
  <head>

    <link rel=stylesheet type=text/css href=../css/bootstrap.min.css.css>
    <link rel=stylesheet type=text/css href=../stylesheets/navbar.style.css>
  <%- include('../Views/template/header.ejs')-%>
  </head>

<body>
  <div class="container">
    <div class="row">
      <% for(var i=0; i < x.length; i++) { %>

        <div class="col-lg-6 col-md-12" >
        <div class="card promoting-card" style=" margin-top: 40px;" style=" margin-left: 40px;"  style="margin-bottom: 40px;"  class="card-body d-flex flex-row">

          <div class="view overlay">
            <img class="card-img-top rounded-0" src=" /images/<%=x[i].image_groups[0].images[0].link%>"  style="max-height: 400px; width: 70%;">
          </div>
                <h3><%=x[i].name%></h3>
                <p><%-x[i].short_description%></p>
                <span>
                    <p>Price: <%=x[i].currency%>  $<%=x[0].price%></p>

                    <a class style="font-size: larger; text-align:center; background-color: #965889; color: #fff; border-radius: 130px;" class="btn btn-md text-uppercase waves-effect waves-light" href= "/products/<%= x[i].primary_category_id %>/<%= x[i].id %>"    >  VIEW PRODUCT</a>
                    <p></p>
                    <span class='add-cart' style="font-size:16px"><a>Add to Cart</a></span>
                    <a > | </a>
                    <span class='add-wishlist' style="font-size:16px"><a>Wishlist</a></span>
                             <p></p>
                </span>
              </div>
            </div>
    <% } %>

    </div>
  </div>


  <footer >
    <%- include("../Views/template/footer")-%>
  </footer>
</body>
 

</html>