<html>

<body>
				
				<tr> <table>
					<% for(var i=0; i < x.length; i++) { %>
					   <tr>
					  <td><%= i %></td>
					   <td><%= x[i].id %></td>
					   <td><%= x[i].name %></td>
					   <td><%= x[i]._id %></td>
					   </tr>
					<% } %>
					</table></tr>
            </div>
        </div>

    </div>

<%- include("../Views/template/footer")-%>
</body>


</html>