<%- include('../Views/template/header')-%>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<%- include('../Views/template/navbar')-%>
<main role="main" class="inner cover">
<h1 class="cover-heading">WISHLIST PAGE</h1>

</main>
<%- include("../Views/template/footer")-%>
</div>

table>
  <% for(var i=0; i < buttons.length; i++) { %>
     <tr>

    <li class="nav-item">
      <a id=<%= buttons[i].id %> class="nav-link" href="/categories/<%= buttons[i].parent_category_id %>/<%= buttons[i].id %>"><%= buttons[i].name %></a>
      </li>

     <td><%= buttons[i].id %></td>
     <td><%= buttons[i].name %></td>
     <td><%= buttons[i]._id %></td>
     <td><%= buttons[i].parent_category_id %></td>
     </tr>
  <% } %>
  </table>
</body>
<script>
    window.onload = function() {
        document.getElementById('Home').classList.add('active');
      };
</script>
</html>
